@use '../utils/' as *;
@use '../base/' as *;

body {
  height: 100vh;
  background-color: #ffcf8c;
}
.drawing-container {
  position: relative;
  background-color: #fff;
  border-radius: rem(30px);
  width: 80vw;
  min-width: calc(520px + 2%);
  min-height: calc(550px + 2%);
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(50px);
  padding: 2%;
  text-align: center;
}

.timer {
  font-size: 2rem;
  font-weight: bold;
}

.my-canvas {
  border: 1px solid black;
  margin-top: rem(50px);
}
.subject-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -50px;
  bottom: 0;
  @media (max-width: 1200px) {
    position: relative;
    margin-top: rem(50px);
    right: 0;
  }
  .icon-giraffe {
    align-self: flex-end;
    @media (max-width: 1200px) {
      display: none;
    }
  }
}
.subject {
  background: #fedba9;
  height: rem(100px);
  line-height: rem(100px);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 1201px) {
    position: relative;
    right: 0;
    width: rem(250px);
    height: rem(50px);
    align-self: center;
    font-size: 1.4rem;
    line-height: rem(50px);
    border-radius: 0.4em;
  }
  &::after {
    @media (min-width: 1201px) {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 0;
      align-self: center;
      border: 33px solid transparent;
      border-top-color: #fedba9;
      border-bottom: 0;
      border-left: 0;
      margin-left: -16.5px;
      margin-bottom: -33px;
    }
  }
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(125, 125, 125, 0.5);
}
.popup {
  position: fixed;
  display: flex;
  margin-top: rem(50px);
  top: 0%;
  left: 50%;
  width: rem(520px);
  height: rem(500px);
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  transform: translate(-50%);
  background-color: #ffcf8c;
  border-radius: rem(30px);
  text-align: left;
  font-size: 1.6rem;
  z-index: 10;
  @media (max-width: 1200px) {
    padding: 5%;
  }
  h2 {
    color: #ff9704;
    font-weight: bold;
    font-size: 2rem;
  }

  .close-popup {
    padding: 5%;
    text-align: center;
    border-radius: rem(30px);
    background: #ffba59;
  }
}
