body {
  background-color: pink;
  padding: 10px;
  max-width: 100%;
}

.my-canvas {
  background-color: #ffffff;
  border: 1px solid black;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(125, 125, 125, 0.5);
}

.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 520px;
  min-height: 200px;
  padding: 20px;
  background-color: white;
  z-index: 10;
}
