// body {
//   background-color: pink;
//   padding: 10px;
//   max-width: 100%;
// }

@import 'reset.scss';

@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CookieRun-Regular';
  background-color: rgba($color: #ffba59, $alpha: 0.8);
}

@mixin container-box {
  position: relative;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 30px;
  border: 1px solid #181818;
  text-align: center;
}

.drawing-container {
  @include container-box();
  min-width: 700px;
  min-height: 700px;
}
.timer {
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  margin: 20px 0;
}

.my-canvas {
  background-color: #ffffff;
  border: 1px solid #181818;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(125, 125, 125, 0.5);
}

.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 700px;
  min-height: 300px;
  padding: 20px;
  border-radius: 30px;
  background-color: #ffcf8c;
  z-index: 10;
  text-align: left;
}

.popup h2 {
  color: #ff9704;
  margin: 50px 0;
  font-size: 1.6rem;
}
.popup p {
  font-size: 1.2rem;
}
.close-popup {
  position: absolute;
  left: 50%;
  bottom: 5%;
  width: 150px;
  height: 50px;
  transform: translateX(-50%);
  border: 0;
  border-radius: 10px;
  background-color: #ff9704;
  cursor: pointer;
  font-size: 1.2rem;
}

.result-container {
  @include container-box();
  min-width: 1200px;
  padding: 2%;
}
.result-container .drawings {
  display: flex;
  justify-content: space-between;
}

.result-container img {
  border: 1px solid #181818;
}

.result-container h2 {
  font-size: 2rem;
}
.result-container .home {
  color: #ff9704;
  padding: 2%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.result-container p {
  text-align: left;
  font-size: 1.6rem;
  margin: 50px 0;
}

.result-container .drawings img {
  width: 300px;
  height: 300px;
}

.result-container .drawings figcaption {
  display: flex;
  font-size: 1.2rem;
}

.nickname {
  flex-grow: 1;
}
.subject {
  font-size: 1.4rem;
  position: relative;
  padding: 2%;
  display: inline-block;
  border-radius: 10px;
  border: #7f7f7f solid 1px;
}

.subject:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  bottom: -15px;
  left: 20px;
}

.subject:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #7f7f7f transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -16px;
  left: 20px;
}

.subject-container {
  position: absolute;
  right: -50px;
  bottom: 0;
}
